h2 Registaration form

form(ng-submit="submit()" name="registrationForm")
  .form-group
    input.form-control(name="email" ng-model="user.email" type="email" placeholder="Email" required)
    div.error(ng-if="errors['email']" ng-repeat="error in errors['email']")
      span.error {{error}}
  .form-group
    input.form-control(ng-model="user.password" type="password" placeholder="Password" required)
    div.error(ng-if="errors['password']" ng-repeat="error in errors['password']")
      span.error {{error}}
  .form-group
    input.form-control( ng-model="user.password_confirmation" type="password" placeholder="Password confirmation" required)
    div.error(ng-if="errors['password_confirmation']" ng-repeat="error in errors['password_confirmation']")
      span.error {{error}}
  .form-group
    button.btn.btn-success(type="submit" ng-disabled="registrationForm.$invalid") Submit
    a.btn.btn-link(href="javascript:;" ui-sref="^.login") Already registered

