nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref="app.dashboard") Diet
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(ui-sref="app.dashboard") Home
      ul.nav.navbar-nav.navbar-right
        li
          a(ui-sref="app.settings") Settings
        li
          a(href="javascript:;" ng-click="logout()") Logout
.container
  .jumbotron(ui-view='')

