.row
  a.btn.btn-default(ng-click='addMeal()') Add meal
.row
   .meals(ng-repeat="meal in meals")
      p.row.meal
         .datetime
            span.date Date: {{meal.datetime | date:'mediumDate'}}
            | &nbsp;&nbsp;&nbsp;
            span.time Time: {{meal.datetime| date:'shortTime'}}
         .text Text: {{meal.text}}
         .callories Callories: {{meal.calories}}
