upstream diet_server {
    server 127.0.0.1:3000;
}

upstream diet_frontend_server {
    server 127.0.0.1:3001;
}

server {
    client_max_body_size 100M;
    listen 80;
    server_name diet.dev;

    root /home/blaze/projects/test_meal/public;

    try_files $uri/index.html $uri.html $uri @diet;

    location @diet {
        proxy_pass http://diet_frontend_server;
        proxy_set_header Host $http_host;
    }

    location @diet_server {
        rewrite ^/api/?(.*) /$1 break;
        proxy_pass http://diet_server;
        proxy_set_header Host $http_host;
    }

    location ~ ^/api {
        rewrite ^/api/?(.*) /$1 break;
        proxy_pass http://diet_server;
        proxy_set_header Host $http_host;
    }
}
